/* toolbar.component.scss */

.custom-toolbar {
  background-color: #2c3e50; /* Color de fondo oscuro */
  border-radius: 2rem; /* Bordes redondeados para un look moderno */
  padding: 1rem 2rem; /* Padding ajustado para darle espacio */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombras suaves para resaltar la barra */
  color: #fff; /* Texto blanco para el contraste */
  display: flex;
  justify-content: space-between; /* Distribuye los elementos entre los extremos */
  align-items: center; /* Centrado vertical de los elementos */
  z-index: 1000;
}

.user-info-container {
  display: flex;
  align-items: center; /* Centra verticalmente los elementos dentro del contenedor */
  gap: 12px; /* Espacio entre los elementos (nombre, rol, avatar) */
  margin-left: auto; /* Alinea todo el contenido a la derecha */
}

.user-info {
  color: #ecf0f1; /* Color gris suave para el texto */
  font-size: 14px;
}

.user-info strong {
  color: #ecf0f1; /* Fuerte énfasis en el correo del usuario */
}

.user-info span {
  font-weight: normal; /* Hacer el rol un poco más discreto */
  color: #bdc3c7; /* Gris más claro para el rol */
}

.profile-button {
  background-color: #16a085; /* Color verde para el botón de perfil */
  border-radius: 3rem; /* Bordes redondeados */
  padding: 0.5rem 1rem;
  color: white;
  transition: background-color 0.3s ease;
}

.profile-button:hover {
  background-color: #1abc9c; /* Cambio de color al pasar el mouse */
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%; /* Hacer el avatar redondeado */
  border: 2px solid #fff; /* Agregar un borde blanco al avatar */
  transition: transform 0.3s ease;
}

.avatar:hover {
  transform: scale(1.1); /* Aumenta ligeramente el tamaño al pasar el mouse */
}
