/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #121212; /* Ejemplo de fondo oscuro */
    color: #e0e0e0; /* Color claro para el texto */
}