<p-button>Crear usuario</p-button>
<div class="card table-container">
    <p-table 
        [value]="users" 
        [tableStyle]="{ 'min-width': '50%', 'max-width': '80%' }" 
        responsiveLayout="scroll">
        <ng-template pTemplate="header">
            <tr>
                <th>Email</th>
                <th>Rol</th>
                <th>Nombre</th>
                <th>Rut</th>
                <th>Numero de telefono</th>
                <th>Fecha de nacimiento</th>
                <th>Dirección</th>
                <th>Activo</th>
                <th>Foto</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user>
            <tr>
                <td>{{ user.email }}</td>
                <td>{{ user.role.name }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.rut }}</td>
                <td>{{ user.phone_number }}</td>
                <td>{{ user.birth_date }}</td>
                <td>{{ user.address }}</td>
                <td>{{ user.is_active}}</td>
                <td>{{ user.avatar_url}}</td>
            </tr> 
        </ng-template>
    </p-table>
</div>
